.closed-dropdown {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    left: 200px;
    margin-top: 15px;
}
.dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 200px;
    margin-top: 15px;
    background-color: #f6f6f6;
}
.head-dd {
    align-items: center;
    justify-content: space-between;
    background-color: #ff6060;
    border-radius: 5px;
    display: flex;
    height: 52px;
    width: 100%;
}
.title-dd {
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    margin: 5px 10px;
    font-size: 18px;
}
.vector-dd {
    display: flex;
    justify-content: flex-end;
    background-color: #ff6060;
    border: none;
}
.text-dd {
    color: #ff6060;
    font-size: 18px;
    list-style: none;
    max-width:100%; 
    padding: 25px 18px 15px 15px;

}
/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.head-dd {
    height: 30px;
}
.title-dd {
   font-size: 12px;
}
.closed-dropdown, .dropdown {
    min-height: 30px;
    margin: 5px 0 5px 0;
}
.vector-dd img {
    width: 13px;
}
}