.closed-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0;
    left: 200px;
    margin: 30px 0px 30px 130px;
}

.head-dd {
    align-items: center;
    justify-content: space-between;
    background-color: #ff6060;
    border-radius: 5px;
    display: flex;
    height: 25%;
    min-height: 50px;
    width: 100%;
    
}

.title-dd {
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    margin: 5px 10px;
}

.vector-dd {
    display: flex;
    justify-content: flex-end;
    background-color: #ff6060;
    border: none;
    
}

.text-dd {
    background-color: #f6f6f6;
    color: #ff6060;
   
}