.ficheLogement {
    width: 86%;
    margin: 150px 0px 30px 82px;
   
}
.containerSlider {
    width: 100%;
    height: 400px;
}
.wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.rent_title {
    color: #ff6060;
}
.rent_title div {
    font-size: 30px;
    font-weight: 500;
}
.rent_title p {
    margin-top: 0;
    font-size: 18px;
}
.tagContainer {
    font-size: 14px;
    display: flex;
    margin-bottom: 24px;
}
.host { 
    display: flex;
    justify-content: space-around;
    
}
.rating {
    display: flex;
    justify-content: flex-end;
}
.rate img {
    margin-right: 5px;
}
.rental_detail {
    display: flex;
    justify-content: space-between;
}


