.ficheLogement {
    width: 86%;
    margin: 10px auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.containerSlider {
    width: 100%;
    height: 400px;
}
.wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.rent_title {
    color: #ff6060;
}
.rent_title div {
    font-size: 30px;
    font-weight: 500;
}
.rent_title p {
    margin-top: 0;
    font-size: 18px;
}
.tagContainer {
    font-size: 14px;
    display: flex;
    margin-bottom: 24px;
}
.host { 
    display: flex;
    justify-content: space-around;
    
}
.rating {
    display: flex;
    justify-content: flex-end;
}
.rate img {
    margin-right: 5px;
}
.rental_detail {
    display: flex;
    justify-content: space-between;
}
.wrap_dd {
    width: 47%;
}

/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

.containerSlider {        
    height: auto;
}

.rent_title div {
    font-size: 18px;
}
.rent_title p {
    font-size: 12px;
    margin-bottom: 10px;
}
.tagContainer {
    font-size: 10px;
    margin-bottom: auto;
}
.wrap {
    margin-top: 15px;
    flex-direction: column;
}
.host-wrap {
    display: flex;
    justify-content: space-between;
}
.rental_detail {
    flex-direction: column;
}
.wrap_dd {
   width: 100%;
}
}