.tagDiv {
    border-radius:  10px;
    background-color:  #ff6060;
    padding: 2px 10px 0 10px;
    color: white;
    height: 20px;
    margin-right:  10px;
}
/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .tagDiv {
        border-radius: 5px;
        height: 18px;
        line-height: 16px;
    }
}