.home__section {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
    height: 223px;
    max-height: 223px;
    min-height: 111px;
}

section p {
    position: absolute;
    font-size: 48px;
    color: #FFFFFF;

}

.home__img {
    width: 90%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    overflow: hidden;
    background: #000000;
    opacity: 1;
}

.home__img img {
    width: 100%;
    height: 100%;
    max-height: 223px;
    min-height: 111px;
    object-fit: cover;
    
}

.hostWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #F6F6F6;
    border-radius: 25px;
    width: 90%;
    margin: 30px;
}

.host__item {
    display: flex;
    position: relative;
    align-items: flex-end;
    overflow: hidden;
    max-width: 340px;
    width: 100%;
    height: 100%;
    max-height: 330px;
    margin: 4%;
    border-radius: 10px;
}

.host__title {
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.host__title span {
    display: block;
    padding: 0 20px 15px 15px;
    font-size: 18px;
    color: #FFFFFF;
}

.host__img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}