.footer {
    background: black;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_text {
    color: white;
    font-size: 12px;
    margin-top: 30px;
}