.banner {
    border-radius: 25px;
    height: 225px;
    margin-top: 150px;
    position: relative;
}

.banner-img {
    border-radius: 25px;
    height: 100%;
    object-fit: cover;
    width: 100%;
    
}

.banner-text {
    color: #ffffff;
    font-size: 48px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}