.banner {
    border-radius: 25px;
    position: relative;       
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.banner-img {
    border-radius: 25px;
    height: 100%;
    width: 86%;
    object-fit: cover;
    filter: brightness(65%)
}

.banner-text {
    color: #ffffff;
    font-size: 40px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.banner {
    margin-top: 10px;
}
.banner-img {
    height: 110px;
    border-radius: 10px;
}
.banner-text {
    font-size: 23px;
    width: 57%;
    text-align:left; 
    left: 40%;
    line-height: 23px;
}
}