.page_404 {
    text-align: center;
}
.title_404 {
    color: #ff6060;
    font-size: 255px;
    margin-bottom: 0;
}
.text_404 {
    display: block;
    color: #ff6060;
    font-size: 25px;
    margin-bottom: 90px;
}
.link_404 {
    display: block;
    color: #ff6060;
    align-items: flex-end;
    text-decoration-line: underline;
    margin-bottom: 10%;
}